<html>
<head>
  <title>Profile</title>
</head>
<body>
  <%- include('_header') %>
  
  <h2>Super secret stuff goes here</h2>
  <p>You are logged in as: <%= username %></p>
  <p>Password: <%= password %></p>
</body>
</html>
